@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f5f3f4;
}

/* Navbar css */
.navbar {
  display: flex;
  justify-content: space-around;
  background: #293241;
  align-items: center;
  height: 8vh;
  position: sticky;
}

.logo {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
}

.links {
  display: flex;
  width: 30vh;
  justify-content: space-around;
}

.links a {
  text-decoration: none;
  color: rgb(229, 227, 245);
  font-weight: 500;
  padding: 0.5em 0.5rem;
}

.links a:hover {
  background-color: #7890bb;
  font-weight: 600;
  color: #ffffff;
  border-radius: 3px;
}

.links li {
  text-decoration: none;
  list-style: none;
}
/* buttons */
.menu-icon {
  display: none;
  color: white;
}

.active {
  right: 0%;
}

/* Content CSS */

.content-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.content-card {
  background-color: #ffffff;
  height: 70vh;
  width: 50vh;
  margin: 1rem 1rem 0px 1rem;
  border-radius: 4px;
  padding: 1em;
}

/* media queries */

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .logo {
    font-size: 0.8rem;
    margin-right: 50vw;
  }

  .links a {
    padding: 1rem;
  }

  .links {
    display: flex;
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 30vh;
    background-color: #293241;
    align-items: center;
    flex-direction: column;
    width: 40%;
    right: -100%;
  }
  .active {
    right: 0%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .menu-icon {
    display: block;
    color: #ffffff;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    
  .logo {
    font-size: 0.8rem;
    margin-right: 50vw;
  }

  .links a:hover {
    border-radius: 1px;
    padding: 1.5rem 12vh;
  }

  .links {
    display: flex;
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 30vh;
    background-color: #293241;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 40%;
    left: -100%;
  }
  .active {
    left: 0%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .menu-icon {
    display: block;
    color: #ffffff;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 0.8rem;
  }
  .links a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .logo {
    font-size: 0.8rem;
  }
  .links a {
    font-size: 0.8rem;
  }
  .links {
    width: 30vh;
  }
}
